@font-face {
  font-family: "PT Sans";
  src: url("../fonts/PTSans-Regular.eot");
  src:
    url("../fonts/PTSans-Regular.eot") format("embedded-opentype"),
    url("../fonts/PTSans-Regular.woff") format("woff"),
    url("../fonts/PTSans-Regular.woff2") format("woff2"),
    url("../fonts/PTSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "PT Sans-Bold";
  src: url("../fonts/PTSans-Bold.eot");
  src:
    url("../fonts/PTSans-Bold.eot") format("embedded-opentype"),
    url("../fonts/PTSans-Bold.woff") format("woff"),
    url("../fonts/PTSans-Bold.woff2") format("woff2"),
    url("../fonts/PTSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
