* {
  margin: 0;
  padding: 0; }

a {
  display: block;
  text-decoration: none;
  color: #000000; }

body {
  min-width: 320px;
  font-size: 0.625em; }

img,
video,
audio {
  display: block;
  max-width: 100%;
  height: auto
}

input {
  border: none;
  outline: none;
}

input[type="submit"] {
  cursor: pointer;
}

ul {
  list-style: none; }

.wrapper-center {
  width: auto;
  margin: 0 auto;
  outline: 1px solid red;
}

@media only screen and (max-width: 768px) {
  .wrappper-center {
    width: auto;
  }
}

@media only screen and (max-width: 1200px) {
  .wrappper-center {
    width: 1200px;
  }
}
