.features {
  outline: 1px solid red;
}

.features__item {
  outline: 1px solid red;
}

.features__item--bg {
  min-height: 50px;
}

.features__item--bg1 {
  background: #fff url('../img/photo-city-mobile@1x.jpg') no-repeat center;
}

.features__item--bg2 {
  background: #fff url('../img/photo-bridge-mobile@1x.jpg') no-repeat center;
}
