.features {
  outline: 1px solid red;
}

.features__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

  @media only screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
}

.features__item {
  width: 280;//320
  padding: {
    top: 18px;
    left: 20px;
    right: 20px;
    bottom: 35px;
  }
  outline: 1px solid red;

  @media only screen and (min-width: 768px) {
    width: 175px;//255
    padding: 0 40px;
  }

  @media only screen and (min-width: 1200px) {
    width: 280px;//400
    padding: 0 60px;
  }

  &--blue {
    background-color: $sedona-blue;
  }

  &--grey {
    background-color: #eeeeee;
  }

  &--bg {

  }

  &--city {
    background: #fff url('../img/photo-city-mobile@1x.jpg') no-repeat center;
  }

  &--bridge {
    background: #fff url('../img/photo-bridge-mobile@1x.jpg') no-repeat center;
  }
}

.features__item-title {
  @include font-title

  &--white {
    color: #fff;
  }
}

.features__item-desc {
  @include font-desc;

  &--white {
    color: #fff;
  }

  &--number {
    display: block;
    text-align: center;
  }
}
