.intro {

}

.intro__wrapper {
  width: auto;
}

.intro__images-block {
  position: relative;
  height: 384px; //check-temp
  background:
    url("../img/bg-intro-triangle-mobile.svg") no-repeat center 100%, url('../img/bg-back-mobile@1x.jpg') no-repeat center;
  background-size: cover;
}

.intro__welcome-text-img {
  max-width: 87.5%;
}

.intro__welcome-text-img {
  @include center-position;
}

.intro__desc-block {
  position: relative;
  padding: {
    top: 31px;
    left: 6.25%;
    right: 6.25%;
    bottom: 4px;
  }
}

.intro__desc-block-decor {
  position: absolute;
  bottom: -37px;
  left: 50%;
  width: 100%;
  height: 37px;
  background: transparent url("../img/bg-triangle.svg") no-repeat center;
  background-size: cover;
  transform: translateX(-50%);
  z-index: 1;
  outline: 1px solid blue;
}

.intro__title {
  @include font-title;
  margin-bottom: 29px;
}

.intro__desc {
  @include font-desc;
  &--bigger {
    line-height: 1.8571428571em; //26
  }
}

//Mini BP
@media only screen and (min-width: 321px) {
  .intro__images-block {
    height: 515px;
    background: url("../img/bg-intro-triangle-tablet.png") no-repeat center 100%, url('../img/bg-back-mobile@1x.jpg') no-repeat center;
    background-size: contain, cover;
  }
  .intro__desc-block-decor {
    display: none;
  }
}

//Mini BP
@media only screen and (min-width: 769px) {
  .intro__images-block {
    background: url("../img/bg-intro-triangle-desktop.png") no-repeat center 100%, url('../img/bg-back-mobile@1x.jpg') no-repeat center;
    background-size: contain, cover;
  }
}
