.main-nav__list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  outline: 1px solid red;

  @media only screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.main-nav__link {
  width: 100%;
  padding: {
    top: 15px;
    bottom: 18px;
  }
  font: 1.8em/2.2222222222em $font-sans; //18/40
  font-weight: bold;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  background-color: $sedona-blue;
  outline: 1px solid red;

  @media only screen and (min-width: 768px) {
    width: auto;
    color: #000;
    background-color: #fff;
  }
}

.main-nav__logo {
  width: 102px;//101.668px
  height: 84px;//83.984px
  margin: 0 auto;
  outline: 1px solid red;
}
