.map {
  outline: 1px solid red;
}

.map__google-link {
  display: block;
  width: 320px;
  height: 350px;
  background: #fff url('../img/bg-map-mobile@1x.jpg') no-repeat center;
  outline: 1px solid red;
}
