.media {
  outline: 1px solid red;
}

.media__wrapper,
.media__inner-wrapper {
  display: flex;
  flex-basis: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.media__item {
  width: auto; //320
  outline: 1px solid red;
}

.media__item-img {
  @include center-block;
}

.media__item-title,
.media__item-likes-count {
  @include font-desc-big;
  font-weight: bold;
  text-align: center;
  color: #000;
}

.media__item-title {
  text-align: left;

  &--big {
    @include font-title-big;
  }
}

.media__item-author-is-text,
.media__item-author-name {
  @include font-desc-big;
  text-align: left;
}

.media__item-like-link {
  display: inline-block;
  width: 22px;
  height: 20px;
  background: #fff url('../img/icon-like.svg') no-repeat center;
  outline: 1px solid red;
}

.media__item-video-desc {
  @include font-desc-big;
}

//Tablet version
@media only screen and (min-width: 768px) {
  .media__inner-wrapper {
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    padding: 0 7.8125%; //0 60
  }

  .media__item {
    flex-basis: 50%;
    padding: 0;
    &--title-img,
    &--video {
      flex-basis: 100%;
      padding: 0;
    }
  }
}

//Desktop version
@media only screen and (min-width: 1200px) {
  .media__wrapper {
    padding: 0;
  }
}
