.page-footer {
  outline: 1px solid red;
}

.page-footer__inner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: {
    top: 37px;
    left: 20px; //20
    right: 20px; //20
    bottom: 40px;
  }
  &--media {
    padding: {
      top: 122px;
      bottom: 20px;
    }
  }
  &--sedona-form {
    padding: {
      top: 40px;
      bottom: 20px;
    }
  }
}

.page-footer__hashtag {
  margin-bottom: 38px;
  font: bold 2.1em/1.2380952381em $font-sans;//21/26
  text-align: center;
  text-transform: uppercase;
}

.page-footer__desc {
  font: 1.4em/1.8571428571em $font-sans;//14/26
  color: $sedona-grey;
  text-align: center;
  text-transform: uppercase;
}

.page-footer__made-by {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 130px;
  margin-top: 40px;
}

.page-footer__made-by-link {
  width: 26.943px;
  height: 34.09px;
  background: #fff url('../img/logo-htmlacademy.svg') no-repeat center;
}


/*
//Tablet version
@media only screen and (min-width: 768px) {
  .page-footer__inner-wrapper {
    flex-direction: row;
  }
}
*/
