.search-hotel {
  outline: 1px solid red;
}

.search-hotel__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: {
    top: 30px;
    bottom: 47px;
  }
}

.search-hotel__title {
  margin-bottom: 20px;
  font: bold 2.1em/1.2380952381em $font-sans;//21/26
  text-align: center;
  text-transform: uppercase;
}

.search-hotel__desc {
  margin-bottom: 34px;
  padding: 0 23px;
  font: 1.4em/1.7142857143em $font-sans;//14/24
  color: $sedona-grey;
  text-align: center;
  text-transform: uppercase;
}

.search-hotel__search-btn {
  width: 87.5%;
  padding: {
    top: 16px;
    bottom: 16px;
  }
}
