.socials {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 150px;
}

.socials__btn {
  position: relative;
  display: inline-block;
  width: 46px;
  height: 47px;
  text-indent: -10000px;
  background-color:$sedona-blue;
  &:hover {
    background-color: $sedona-blue-hover;
  }
  &:hover .socials__icon {
    fill: rgba(255, 255, 255, 1);
  }
  &:active {
    background-color: $sedona-blue-active;
  }
  &:active .socials__icon {
    fill: rgba(255, 255, 255, 0.3);
  }
}

.socials__icon {
  display: block;
  @include center-position();
  fill: rgba(255, 255, 255, 0.9);
}

//Tablet version
@media only screen and (min-width: 768px) {
  .socials {
    justify-content: flex-start;
    width: 155px;
    padding-top: 0;//36px;
  }

  .socials__btn {
    margin-right: 5%;
    &:last-of-type {
      margin-right: 0;
    }
  }
}
